<h1>Tareas para este 18!</h1>

<div class="card-container d-flex flex-wrap justify-content-between">
  <% @tasks.each do |task| %>
    <div class="card mb-3 text-center" style="width: 18rem;">
      <img src="<%= task.image_url %>" class="card-img-top" alt="Imagen de actividad">
      <div class="card-body">
        <h5 class="card-title"><%= task.title %></h5>
        <%= link_to 'Ver el detalle!', task_path(task), class: 'btn btn-primary' %>
        <p class="btn-completed">
          <%= link_to task_completed_tasks_path(task), method: 'post' do %>
            <i class="far fa-check-circle"></i>
          <% end %>
        </p>
      </div>
    </div>
  <% end %>
</div>
