<h1>Tareas para este 18!</h1>

<div class="card-container d-flex flex-wrap justify-content-between">
  <% @tasks.each do |task| %>
    <div class="card mb-3 text-center" style="width: 18rem;">
      <img src="<%= task.image_url %>" class="card-img-top" alt="Imagen de actividad">
      <div class="card-body">
        <h5 class="card-title"><%= task.title %></h5>
        <a href="#" class="btn btn-primary">Ver el detalle!</a>
      </div>
    </div>
  <% end %>
</div>
